*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: c, sans-serif;
}

body {
    background-color: #ebe7e0;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: fg;
    font-weight: 300;
    font-style: normal;
    src: url(/font/FoundersGrotesk-Light.woff2) format("woff2"), url(/font/FoundersGrotesk-Light.woff) format("woff")
}

@font-face {
    font-family: fg;
    font-weight: 500;
    font-style: normal;
    src: url(/font/FoundersGrotesk-Medium.woff2) format("woff2"), url(/font/FoundersGrotesk-Medium.woff) format("woff")
}

@font-face {
    font-family: c;
    font-weight: 400;
    font-style: normal;
    src: url(/font/Canela-Regular.woff2) format("woff2"), url(/font/Canela-Regular.woff) format("woff")
}

@font-face {
    font-family: c;
    font-weight: 300;
    font-style: normal;
    src: url(/font/Canela-Light.woff2) format("woff2"), url(/font/Canela-Light.woff) format("woff")
}

@font-face {
    font-family: c;
    font-weight: 500;
    font-style: normal;
    src: url(/font/Canela-Medium.woff2) format("woff2"), url(/font/Canela-Medium.woff) format("woff")
}

.hero-banner-img {
    width: 100%;
}

.welcome-message-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}

.name-1 {
    margin: 2.05556vw 0 0;
    font-size: 5.66667vw;
    letter-spacing: 0.1333vw;
    font-family: c;
    font-weight: 500;
    color: #2f4858;
}

.subname-1 {
    font-family: c;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
}

.qr-code-img {
    width: 21.7vw;
    height: 100%;
}

.container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.flip-box,
.front,
.back {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container,
.flip_box {
    position: relative;
}

.container {
    -moz-transform: perspective(1200px);
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.flip_box {
    transition: all 0.5s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 40px);
    /* background-color: #ffffff; */
    /* padding: 20px; */

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.r_wrap {
    position: absolute;
    right: 40px;
    bottom: 80px;
}

.b_round,
.s_round {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #2f4858;
    transition: all 0.2s linear;
}

.b_round {
    opacity: 0;
    background-color: #2f4858;
}

.b_round_hover {
    transform: scale(1.37);
    opacity: 0.4;
}

.b_round_back_hover {
    background-color: #2f4858;
    opacity: 0.4;
}

.s_round_click {
    transform: scale(1.7);
}

.s_round_back {
    background-color: #2f4858;
}

.s_arrow {
    width: 52px;
    height: 52px;
    background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
    background-color: transparent;
    transition: all 0.35s linear;
}

.s_arrow_rotate {
    transform: rotate(-180deg);
}

.image-slider {
    position: relative;
    width: 100%;
    /* height: auto; */
}

.slider-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

.invitation-container {
    width: 100%;
    height: 80vh;
    max-width: 600px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: #ffffff;
}

.flowers-top,
.flowers-bottom {
    position: absolute;
    width: 100%;
    height: 60px;
    background: no-repeat center;
    background-size: contain;
}

.flowers-top {
    top: -30px;
}

.flowers-bottom {
    bottom: -30px;
}

.bride-groom-name {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2f4858;
    letter-spacing: 1px;
    margin: 15px 0;
}

.and {
    font-size: 16px;
    margin-bottom: 10px;
    color: #2f4858;
}

.invitation-message {
    font-size: 18px;
    margin: 60px 0;
    line-height: 1.5;
    color: #2f4858;
    letter-spacing: 1px;
}

.event-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.date {
    text-align: center;
    margin-right: 20px;
}

.date p {
    font-size: 16px;
    color: #2f4858;
    margin: 5px 0;
}

.date h1 {
    font-size: 48px;
    color: #2f4858;
    margin: 0;
}

.year p {
    font-size: 24px;
    color: #2f4858;
    margin: 0;
}

.venue {
    font-size: 16px;
    color: #2f4858;
    margin-top: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.reception {
    font-size: 14px;
    color: #2f4858;
    margin-top: 10px;
    font-style: italic;
}

/* Loader Styles */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ebe7e0;
    /* Match the background color */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 1.5s 2.5s forwards;
    /* Slide up after 2.5s */
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.loader {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-animation: rotate 0.6s 1.5s infinite;
    animation: rotate 0.6s 1.5s infinite;
}

span {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    background: rgba(47, 72, 88, 0.3);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span:nth-child(1) {
    margin-top: -150px;
    margin-left: 0;
    -webkit-animation: margin-1 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-1 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(2) {
    margin-top: -106px;
    margin-left: 106px;
    -webkit-animation: margin-2 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-2 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(3) {
    margin-top: 0;
    margin-left: 150px;
    -webkit-animation: margin-3 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-3 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(4) {
    margin-top: 106px;
    margin-left: 106px;
    -webkit-animation: margin-4 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-4 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(5) {
    margin-top: 150px;
    margin-left: 0;
    -webkit-animation: margin-5 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-5 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(6) {
    margin-top: 106px;
    margin-left: -106px;
    -webkit-animation: margin-6 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-6 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(7) {
    margin-top: 0;
    margin-left: -150px;
    -webkit-animation: margin-7 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-7 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

span:nth-child(8) {
    margin-top: -106px;
    margin-left: -106px;
    -webkit-animation: margin-8 3s ease-in-out forwards, size 1s ease-in-out forwards;
    animation: margin-8 3s ease-in-out forwards, size 1s ease-in-out forwards;
}

@-webkit-keyframes margin-1 {

    20%,
    40% {
        margin-top: -40px;
        margin-left: 0;
    }

    100% {
        margin-top: -20px;
        margin-left: 0;
    }
}

@keyframes margin-1 {

    20%,
    40% {
        margin-top: -40px;
        margin-left: 0;
    }

    100% {
        margin-top: -20px;
        margin-left: 0;
    }
}

@-webkit-keyframes margin-2 {

    20%,
    40% {
        margin-top: -20px;
        margin-left: 20px;
    }

    100% {
        margin-top: -13px;
        margin-left: 13px;
    }
}

@keyframes margin-2 {

    20%,
    40% {
        margin-top: -20px;
        margin-left: 20px;
    }

    100% {
        margin-top: -13px;
        margin-left: 13px;
    }
}

@-webkit-keyframes margin-3 {

    20%,
    40% {
        margin-top: 0;
        margin-left: 40px;
    }

    100% {
        margin-top: 0;
        margin-left: 20px;
    }
}

@keyframes margin-3 {

    20%,
    40% {
        margin-top: 0;
        margin-left: 40px;
    }

    100% {
        margin-top: 0;
        margin-left: 20px;
    }
}

@-webkit-keyframes margin-4 {

    20%,
    40% {
        margin-top: 20px;
        margin-left: 20px;
    }

    100% {
        margin-top: 13px;
        margin-left: 13px;
    }
}

@keyframes margin-4 {

    20%,
    40% {
        margin-top: 20px;
        margin-left: 20px;
    }

    100% {
        margin-top: 13px;
        margin-left: 13px;
    }
}

@-webkit-keyframes margin-5 {

    20%,
    40% {
        margin-top: 40px;
        margin-left: 0;
    }

    100% {
        margin-top: 20px;
        margin-left: 0;
    }
}

@keyframes margin-5 {

    20%,
    40% {
        margin-top: 40px;
        margin-left: 0;
    }

    100% {
        margin-top: 20px;
        margin-left: 0;
    }
}

@-webkit-keyframes margin-6 {

    20%,
    40% {
        margin-top: 20px;
        margin-left: -20px;
    }

    100% {
        margin-top: 13px;
        margin-left: -13px;
    }
}

@keyframes margin-6 {

    20%,
    40% {
        margin-top: 20px;
        margin-left: -20px;
    }

    100% {
        margin-top: 13px;
        margin-left: -13px;
    }
}

@-webkit-keyframes margin-7 {

    20%,
    40% {
        margin-top: 0;
        margin-left: -40px;
    }

    100% {
        margin-top: 0;
        margin-left: -20px;
    }
}

@keyframes margin-7 {

    20%,
    40% {
        margin-top: 0;
        margin-left: -40px;
    }

    100% {
        margin-top: 0;
        margin-left: -20px;
    }
}

@-webkit-keyframes margin-8 {

    20%,
    40% {
        margin-top: -20px;
        margin-left: -20px;
    }

    100% {
        margin-top: -13px;
        margin-left: -13px;
    }
}

@keyframes margin-8 {

    20%,
    40% {
        margin-top: -20px;
        margin-left: -20px;
    }

    100% {
        margin-top: -13px;
        margin-left: -13px;
    }
}

@-webkit-keyframes size {
    100% {
        width: 100px;
        height: 100px;
    }
}

@keyframes size {
    100% {
        width: 100px;
        height: 100px;
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}